* text=auto

# Unity files
*.meta -text merge=unityyamlmerge diff
*.unity -text merge=unityyamlmerge diff
*.asset -text merge=unityyamlmerge diff
*.prefab -text merge=unityyamlmerge diff
*.mat -text merge=unityyamlmerge diff
*.anim -text merge=unityyamlmerge diff
*.controller -text merge=unityyamlmerge diff
*.overrideController -text merge=unityyamlmerge diff
*.physicMaterial -text merge=unityyamlmerge diff
*.physicsMaterial2D -text merge=unityyamlmerge diff
*.playable -text merge=unityyamlmerge diff
*.mask -text merge=unityyamlmerge diff
*.brush -text merge=unityyamlmerge diff
*.flare -text merge=unityyamlmerge diff
*.fontsettings -text merge=unityyamlmerge diff
*.guiskin -text merge=unityyamlmerge diff
*.giparams -text merge=unityyamlmerge diff
*.renderTexture -text merge=unityyamlmerge diff
*.spriteatlas -text merge=unityyamlmerge diff
*.terrainlayer -text merge=unityyamlmerge diff
*.mixer -text merge=unityyamlmerge diff
*.shadervariants -text merge=unityyamlmerge diff

# Unreal files
*.locres -text
*.locmeta -text
*.ico -text
*.uasset -text
*.umap -text

*.3DS -text 
*.3ds -text 
*.ABC -text 
*.AEP -text 
*.AFDESIGN -text 
*.AFPHOTO -text 
*.AI -text 
*.AIF -text 
*.AVI -text 
*.BGEO -text 
*.BIN -text 
*.BLEND -text 
*.BMP -text 
*.BPOLY -text 
*.C4D -text 
*.DOC -text 
*.DOCX -text 
*.DWG -text 
*.DXF -text 
*.EXR -text 
*.FBX -text 
*.GEO -text 
*.GI -text 
*.GI2 -text 
*.GIF -text 
*.GLB -text 
*.GLTF -text 
*.HDR -text 
*.HIP -text 
*.HIPLC -text 
*.HIPNC -text 
*.JPEG -text 
*.JPG -text 
*.MA -text 
*.MAX -text 
*.MB -text 
*.MOV -text 
*.MP3 -text 
*.MP4 -text 
*.MPEG -text 
*.MPG -text 
*.OBJ -text 
*.PDF -text 
*.PFM -text 
*.PIC -text 
*.PMB -text 
*.PNG -text 
*.POLY -text 
*.PPT -text 
*.PPTX -text 
*.PROFRAW -text 
*.PRPROJ -text 
*.PSB -text 
*.PSD -text 
*.RAT -text 
*.RIB -text 
*.SKETCH -text 
*.STL -text 
*.TAR -text 
*.TIF -text 
*.TIFF -text 
*.USD -text 
*.USDC -text 
*.USDZ -text 
*.VDB -text 
*.WAV -text 
*.XLS -text 
*.XLSX -text 
*.ZIP -text 
*.abc -text 
*.aep -text 
*.afdesign -text 
*.afphoto -text 
*.ai -text 
*.aif -text 
*.avi -text 
*.bgeo -text 
*.bin -text 
*.blend -text 
*.bmp -text 
*.bpoly -text 
*.c4d -text 
*.doc -text 
*.docx -text 
*.dwg -text 
*.dxf -text 
*.exr -text 
*.fbx -text 
*.geo -text 
*.gi -text 
*.gi2 -text 
*.gif -text 
*.glb -text 
*.gltf -text 
*.hdr -text 
*.hip -text 
*.hiplc -text 
*.hipnc -text 
*.jpeg -text 
*.jpg -text 
*.ma -text 
*.max -text 
*.mb -text 
*.mov -text 
*.mp3 -text 
*.mp4 -text 
*.mpeg -text 
*.mpg -text 
*.obj -text 
*.pdf -text 
*.pfm -text 
*.pic -text 
*.pmb -text 
*.png -text 
*.poly -text 
*.ppt -text 
*.pptx -text 
*.profraw -text 
*.prproj -text 
*.psb -text 
*.psd -text 
*.rat -text 
*.rib -text 
*.sketch -text 
*.stl -text 
*.tar -text 
*.tif -text 
*.tiff -text 
*.usd -text 
*.usdc -text 
*.usdz -text 
*.vdb -text 
*.wav -text 
*.xls -text 
*.xlsx -text 
*.zip -text 